
div.page-setup {
  .field {
    margin-bottom: 15px;
  }
  .field-header {
    input {
      border:none;
      border-bottom: 1px solid white;
      margin:15px 5px;
      color:white;
      width:75%;
      float:left;
      @include placeholder(white);
    }
    .toggleCollapse {
      float:left;
      margin-top: auto;
      margin-bottom: auto;
      width:30px;
    }
  }
  .form-group{
    padding:0 15px;
  }
}
