<div class="page page-list" layout=vertical layout-lg="vertical" layout-md="vertical" layout-sm="vertical"
     layout-padding>
    <div flex layout-padding layout="horizontal" class="button-bar">
        <div flex></div>
        <material-button class="material-button-fab material-theme-green" title="Settings" ng-click="go('database', database, 'new')">
            <i class="fa fa-plus fa-2x"></i>
        </material-button>
        <material-button class="material-button-fab" title="Settings" ng-click="go('database', database, 'setup')">
            <i class="fa fa-cog fa-2x"></i>
        </material-button>
        <material-button class="material-button-fab" title="Reports" ng-click="go('database', database, 'reports')">
            <i class="fa fa-table fa-2x"></i>
        </material-button>
    </div>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-theme-green material-toolbar-tools">
                <h3>Objects</h3>
            </material-toolbar>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="field in settings.structure">{{field.displayName}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="object in objects">
                    <td ng-repeat="field in settings.structure">{{object[field.name]}}</td>
                </tr>
                </tbody>
            </table>
        </material-content>
    </div>
</div>