<div class="page page-new" layout=vertical layout-lg="horizontal" layout-md="horizontal" layout-sm="horizontal"
     layout-padding>
    <div flex>
        <material-content class="material-whiteframe-z1">
            <material-toolbar class="material-theme-green material-toolbar-tools">
                <h3>New Object</h3>
            </material-toolbar>
            <material-content class="material-content-padding">
            <form class="form">
                <dynamic-field ng-repeat="field in settings.structure"></dynamic-field>
            </form>
            </material-content>
        </material-content>
    </div>
</div>