<div class="page page-setup" layout=vertical>
    <!--top buttons-->
    <div flex layout="horizontal" layout-padding>
        <div flex></div>
        <div class="button-bar">
            <material-button class="material-button-fab material-theme-green" title="Save" ng-click="saveSettings()">
                <i class="fa fa-save fa-2x"></i>
            </material-button>
            <material-button class="material-button-fab material-theme-red" title="Cancel"
                             ng-click="go('database', database, 'setup')">
                <i class="fa fa-times fa-2x"></i>
            </material-button>
        </div>
    </div>
    <!--/top butons-->
    <div flex layout="vertical" layout-lg="horizontal" layout-md="horizontal" layout-sm="vertical" layout-padding>
        <!--left panel-->
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-theme-green material-toolbar-tools">
                    <h3>Field Setup</h3>
                </material-toolbar>
                <!--fields-->
                <material-content class="material-content-padding">
                    <material-content class="material-whiteframe-z1 field material-content-padding"
                                      ng-repeat="field in settings.structure">
                        <!--field-name-->
                        <material-toolbar class="material-theme-light field-header">
                            <material-input name="field-name" id="field-name" ng-model="field.name"
                                            placeholder="field-name"></material-input>
                        </material-toolbar>
                        <!--/field-name -->
                        <!--display name-->
                        <material-content class="material-content-padding">
                            <material-input-group class="material-input-group-theme-light">
                                <label for="display">Display Name</label>
                                <material-input class="material-input" type="text" name="display" id="display" required
                                                ng-model="field.display_name"></material-input>
                            </material-input-group>
                        </material-content>
                        <!--/display name-->
                        <!--field type-->
                        <div class="form-group">
                            <label for="fieldtype">Field Type</label>
                            <select ng-model="field.fieldType" id="fieldtype" class="form-control"
                                    ng-options="type as type for type in fieldTypes"></select>
                        </div>
                        <!--/field type-->
                        <material-divider></material-divider>
                        <div class="form-group">
                            <label>Options</label>
                            <div ng-switch on="field.fieldType">
                                <div ng-switch-when="text">
                                    <material-input-group class="material-input-group-theme-light">
                                        <label>Max Length</label>
                                        <material-input ng-model="field.options.text.maxlength"></material-input>
                                    </material-input-group>
                                    <br>
                                    <label>Widget</label>
                                    <material-radio-group ng-model="field.options.text.widget">
                                        <material-radio-button ng-value="input">input</material-radio-button>
                                        <material-radio-button ng-value="textarea">textarea</material-radio-button>
                                    </material-radio-group>
                                </div>
                                <div ng-switch-when="number">
                                    <material-input-group class="material-input-group-theme-light">
                                        <label>Min</label>
                                        <material-input ng-model="field.options.number.min"></material-input>
                                    </material-input-group>
                                    <material-input-group class="material-input-group-theme-light">
                                        <label>Max</label>
                                        <material-input ng-model="field.options.number.max"></material-input>
                                    </material-input-group>
                                </div>
                                <div ng-switch-when="date">
                                    date options
                                </div>
                                <div ng-switch-when="select">
                                    select options
                                </div>
                                <div ng-switch-when="checkbox">
                                    checkbox options
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Validation</label>
                            <div ng-switch on="field.fieldType">
                                <div ng-switch-when="text">
                                    <material-checkbox ng-model="field.validation.text.required">Required</material-checkbox>
                                    <material-checkbox ng-model="field.validation.text.lowercase">Lower Case Only</material-checkbox>
                                    <material-checkbox ng-model="field.validation.text.noSpaces">Disallow Spaces</material-checkbox>
                                </div>
                                <div ng-switch-when="number">
                                    <material-checkbox ng-model="field.validation.number.required">Required</material-checkbox>
                                    <material-checkbox ng-model="field.validation.number.decimal">Allow Decimals</material-checkbox>
                                </div>
                                <div ng-switch-when="date">
                                    date validation
                                </div>
                                <div ng-switch-when="select">
                                    select validation
                                </div>
                                <div ng-switch-when="checkbox">
                                    checkbox validation
                                </div>
                            </div>
                        </div>
                    </material-content>
                    <material-button class="material-button-fab material-theme-green" title="Add Field"
                                     ng-click="addField()">
                        <i class="fa fa-2x fa-plus"></i>
                    </material-button>
                </material-content>
                <!--/fields -->
            </material-content>
        </div>
        <!--/left panel-->
        <!--right panel-->
        <div flex>
            <material-content class="material-whiteframe-z1">
                <material-toolbar class="material-theme-green material-toolbar-tools">
                    <h3>Form Preview</h3>
                </material-toolbar>
                <form>
                    <pre>{{settings}}</pre>
                    <br>
                    <pre>{{settings.structure}}</pre>
                </form>
            </material-content>
        </div>
        <!--/right panel-->
    </div>
</div>