<div class="dynamic-field form-group">
    <label>{{field.displayName}}</label>
    <div ng-switch on="field.fieldType">
        <div ng-switch-when="text">
            <div ng-switch on="field.options.widget">
                <div ng-switch-when="input">
                    <input ng-model="object[field.name]" class="form-control" type="text" maxlength="{{field.options.maxlength}}" ng-required="field.options.required">
                </div>
                <div ng-switch-when="textarea">
                    <textarea ng-model="object[field.name]" class="form-control" maxlength="{{field.options.maxlength}}" ng-required="field.options.required"></textarea>
                </div>
            </div>
        </div>
    </div>
    <pre>{{object}}</pre>
</div>